{
	"root": true,

	"extends": "@ljharb",

	"globals": {
		"Uint8Array": "readonly",
	},

	"rules": {
		"curly": "warn",
		"func-style": "warn",
		"new-cap": "warn",
		"no-buffer-constructor": "warn",
		"no-use-before-define": "warn",
		"semi": ["warn", "never"],
		"strict": "warn",
	},
}
